.version.character_select /* version checker */
{
	color: #0000EE;
	background-color: #D5B6A2;
}

.html
{
	background: #000000 url("../images/xchy58v.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 869px;
	min-height: 388.5499999999997px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 49px 37px 62.45000000000027px 54px;
}

#u129-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	left: -1px;
	position: relative;
}

#pu130
{
	width: 0.01px;
	margin-left: 63px;
	margin-top: 21px;
}

#u130
{
	z-index: 6;
	width: 424px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u130:hover
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 7px -10000px 0px 0px;
}

#u130_img
{
	padding-right: 106px;
}

#u156
{
	z-index: 17;
	width: 318px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u156:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	margin: 7px -10000px 0px 0px;
}

#u162
{
	z-index: 19;
	width: 320px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 424px;
}

#u135
{
	z-index: 21;
	width: 446px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 360px;
}

#u135:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	margin: 0px -10000px 0px 0px;
}

#pu141-5
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 23px;
}

#u141-5
{
	z-index: 8;
	position: relative;
	width: 367px;
	margin-right: -10000px;
}

#u143-4
{
	z-index: 13;
	position: relative;
	width: 367px;
	margin-right: -10000px;
	left: 443px;
}

#u141-5_img,#u143-4_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

