#u1258-4,#u1241-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u1247-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u1255-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u1320-2,#u1320-6,#u1320-10
{
	font-family: droid-sans-n7, sans-serif;
}

#u1320-4,#u1320-8,#u1320-20
{
	font-family: droid-sans-n4, sans-serif;
}

