#u1359-4,#u1344-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u1349-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u1355-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u1395-2,#u1395-8
{
	font-family: droid-sans-n7, sans-serif;
}

#u1395-4,#u1395-6,#u1395-7,#u1395-9,#u1395-11,#u1395-13,#u1395-15
{
	font-family: droid-sans-n4, sans-serif;
}

