#u967-4
{
	font-family: droid-sans-n7, sans-serif;
}

#u976-4
{
	font-family: droid-sans-n7, sans-serif;
}

#u1385-4,#u1370-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u1375-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u1381-4
{
	font-family: droid-sans-n4, sans-serif;
}

