.version.portfolio /* version checker */
{
	color: #0000FA;
	background-color: #3CDED9;
}

.html
{
	background: #000000 url("../images/xchy58v.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu173
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 196px;
}

#u173
{
	z-index: 2;
	width: 166px;
	background-color: transparent;
	position: relative;
}

#u173_img
{
	padding-bottom: 4px;
}

#u183-18
{
	z-index: 4;
	display: block;
	vertical-align: top;
	margin-top: 20px;
	position: relative;
}

#pu189
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 196px;
	margin-left: 180px;
}

#u189
{
	z-index: 22;
	width: 780px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u198
{
	z-index: 24;
	width: 125px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	left: 308px;
}

#u204
{
	z-index: 26;
	width: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 149px;
}

#u210
{
	z-index: 28;
	width: 51px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 225px;
}

#u216
{
	z-index: 30;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 68px;
}

#u225-4
{
	z-index: 32;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 24px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

